#content {
    padding: 0;
    font-family: Georgia, "Cambria", serif;
}

h1 {
    text-align: center;
}

.street-area {
    display: table;
    background-color: bisque;
    margin: auto;
    padding: 50px;
}

.street {
    background-color: darkgreen;
}

.street-line {
}

.street-block {
    display: inline-block;
    width: 30px;
    height: 30px;
    /*border: 1px solid;*/
    vertical-align:top;
}

.road-block {
    background-color: darkgrey;
    box-sizing: border-box;
    border-left: 3px solid black;
    border-right: 1px dashed white;
}

.road-block-rotate-180 {
    transform: rotate(180deg);
    border-right: none;

}
.test-content {

}
